<table class="table-bordered table">
	<tr>
		<th class="col-md-3">Name</th>
		<th class="col-md-3">Description</th>
		<th class="col-md-3">Price</th>
		<th class="col-md-3">Category</th>
	</tr>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.formatted_price %></td>
		<% if product.category %>
		<td><%= link_to "#{product.category}", category_products_path(product.category) %></td>
		<% end %>
	</tr>
</table>
